{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'Plataforma/css/login.css' %}">
{% endblock %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
<main class="form-signin">
    <form method="post" id="form">
        {% csrf_token %}

        <label for="username" id="flag1">Username:</label>
        {{ form.username }}
        <label for="password">Nueva contraseña:</label>
        {{ form.password }}
        {{ form.passwordA }}

        <button id="boton" class="w-100 btn btn-lg btn-primary" type="submit">Guardar</button>

        <a id="regresar" href="{% url 'usersView' %}" class="btn btn-secondary">regresar</a>
    </form>
</main>

<script src="{% static 'Plataforma/js/camb_cont.js' %}"></script>
{% endblock %}
